{#
Nunjucks Templating!
Homepage: https://mozilla.github.io/nunjucks/
Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<section class="page">
  <div class="container">
    {% include 'layouts/header.html' %}
    <div class="main-section">
      {% include 'layouts/video.html' %}
      {% include 'layouts/payment.html' %}
    </div>
    {% include 'layouts/stage.html' %}
    {% include 'layouts/modal.html' %}
  </div>
  {% include 'layouts/footer.html' %}
</section>
{% endblock %}
