<div class="modal">
  <div class="modal-header">
  <p class="modal-title">Документы,
    закрывающие
    первый этап</p>
    <img src="../../images/close.png">
  </div>
  <div class="payment-details-file">
    <div class="file">
      <img src="../../images/file.png">
    </div>
    <div class="payment-details-file-description">
      <p class="payment-details-file-description__text black">Счет за 1 этап<br>
        от 15. 12. 2018</p>
      <p class="payment-details-file-description__date black">Добавлен 21. 12. 2018</p>
    </div>
    <img class="payment-details-file__download" src="../../images/download-btn.png">
  </div>
  <div class="payment-details-file">
    <div class="file">
      <img src="../../images/file.png">
    </div>
    <div class="payment-details-file-description">
      <p class="payment-details-file-description__text black">Счет за 1 этап<br>
        от 15. 12. 2018</p>
      <p class="payment-details-file-description__date black">Добавлен 21. 12. 2018</p>
    </div>
    <img class="payment-details-file__download" src="../../images/download-btn.png">
  </div>
  <div class="payment-details-file">
    <div class="file">
      <img src="../../images/file.png">
    </div>
    <div class="payment-details-file-description">
      <p class="payment-details-file-description__text black">Счет за 1 этап<br>
        от 15. 12. 2018</p>
      <p class="payment-details-file-description__date black">Добавлен 21. 12. 2018</p>
    </div>
    <img class="payment-details-file__download" src="../../images/download-btn.png">
  </div>
</div>
