<div class="payment-container">
  <div class="payment">
    <div class="iterator iterator-active">
      1
    </div>
    <div class="payment-details">
      <div class="payment-details-status">
        <p class="payment-details__counter">Первый счет</p>
        <div class="chip">Не оплачен</div>
      </div>
      <div class="payment-details-sum">
        <p class="payment-details__total-sum">Оплатить <strong>350 000 ₽</strong></p>
        <p class="payment-details__date">до 22. 11. 2018</p>
      </div>
      <div class="payment-details-file">
        <div class="file">
          <img src="../../images/file.png">
        </div>
        <div class="payment-details-file-description">
          <p class="payment-details-file-description__text">Счет за 1 этап<br>
            от 15. 12. 2018</p>
          <p class="payment-details-file-description__date">Добавлен 21. 12. 2018</p>
        </div>
        <img class="payment-details-file__download" src="../../images/download-btn.png">
      </div>
    </div>
  </div>
  <div class="payment payment-disable">
    <div class="iterator">
      2
    </div>
    <div class="payment-details">
      <div class="payment-details-status">
        <p class="payment-details__counter">Второй счет</p>
        <div class="chip">Не оплачен</div>
      </div>
    </div>
  </div>
  <div class="payment payment-disable">
    <div class="iterator">
      3
    </div>
    <div class="payment-details">
      <div class="payment-details-status">
        <p class="payment-details__counter">Третий счет</p>
        <div class="chip">Не оплачен</div>
      </div>
    </div>
  </div>
</div>
