<div class="collapsible">
  <div class="collapsible-text">
    <div>
      <p class="collapsible-text__number">Этап №1</p>
      <h1 class="collapsible-text__description">Архитектурные решения</h1>
    </div>
    <img class="collapsible-btn active" src="../../images/collapsible.png">
  </div>
  <div class="collapsible-bar">
    <div class="line">
      <div class="gray-line">
        <div class="active-line">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="documents">
  <div class="document-stage">
    <div class="documents-file">
      <div class="file">
        <p class="file__number">5</p>
        <img src="../../images/dir.png">
      </div>
      <div class="documents-file-text">
        <p class="documents-file-text__main">Документы, закрывающие первый этап</p>
        <p class="documents-file-text__gray">Подписанно 2 из 5</p>
      </div>
    </div>
  </div>
  <div>
    <ul class="documents-list">
      <li class="active">Архитектурные решения</li>
      <li class="active">Система электроснабжения</li>
      <li>Водоснабжение и канализация</li>
      <li>Отопление, вентиляция и кондиционирование</li>
      <li>Структурированные кабельные сети</li>
      <li>Смета на строительно-монтажные работы</li>
      <li>Автоматическая пожарная сигнализация</li>
      <li>Спринклерное пожаротушение</li>
    </ul>
  </div>
</div>
<div class="collapsible">
  <div class="collapsible-text">
    <div>
      <p class="collapsible-text__number">Этап №2</p>
      <h1 class="collapsible-text__description">Инженерные решения</h1>
    </div>
    <img class="collapsible-btn" src="../../images/collapsible.png">
  </div>
  <div class="collapsible-bar">
    <div class="line">
      <div class="gray-line">
        <div class="active-line">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapsible">
  <div class="collapsible-text">
    <div>
      <p class="collapsible-text__number">Этап №3</p>
      <h1 class="collapsible-text__description">Отделочные работы</h1>
    </div>
    <img class="collapsible-btn" src="../../images/collapsible.png">
  </div>
  <div class="collapsible-bar">
    <div class="line">
      <div class="gray-line">
        <div class="active-line">
        </div>
      </div>
    </div>
  </div>
</div>
