@import "../base/variables";
@import "../base/typography";
@import "../base/colors";

.modal {
  background: $white;
  width: 514px;
  border-radius: $border-radius;
  padding: 55px 60px;
  box-sizing: border-box;
  margin: 0 auto;
  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .modal-title {
      max-width: 223px;
      font-family: 'PT Sans Caption', sans-serif;
      font-size: 30px;
    }
  }
  .download-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $main-font-size;
    color: $light-blue;
  }
}
