@import '../base/colors';
@import '../base/typography';
.payment{
  display: flex;
  flex-direction: row;
  .payment-details{
    .payment-details-status{
      display: flex;
      flex-direction: row;
      .payment-details__counter{
        color: $white;
        font-size: $main-font-size;
      }
    }
  }
}
